.card {
  width: 50%;
  height: 200px;
  /* border: 2px solid; */
  margin: 30px 0;
  border-radius: 20px;
  border-top: 5px solid red;
  border-bottom: 5px solid orange;
  border-left: 5px solid purple;
  border-right: 5px solid green;
}
