* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feed-container {
  width: 100%;
  height: 100vh;
  border: 2px solid;
  display: flex;
}

.navbar {
  width: 25%;
  border: 2px solid orange;
  height: 100%;
}
.posts {
  width: 75%;
  border: 2px solid purple;
  height: 100%;
}
.navbar ul li {
  display: flex;
  /* width: 300px; */
  align-items: center;
  margin: 50px 0;
  margin-left: 80px;
  /* justify-content: center; */
}

.i1 {
  /* width: 100px; */
  margin-right: 40px;
  font-size: 45px;
  color: red;
}
.i2 {
  /* width: 100px; */
  margin-right: 40px;
  font-size: 45px;
  color: orange;
}
.i3 {
  /* width: 100px; */
  margin-right: 40px;
  font-size: 45px;
  color: rgb(206, 183, 15);
}
.i4 {
  /* width: 100px; */
  margin-right: 40px;
  font-size: 45px;
  color: green;
}
.title {
  font-size: 40px;
}
.t1 {
  color: red;
}
.t2 {
  color: orange;
}
.t3 {
  color: rgb(206, 183, 15);
}
.t4 {
  color: green;
}
.posts {
  padding: 50px;
  overflow-y: auto;
}
.p-title {
  font-size: 50px;
  color: blue;
  /* margin-bottom: 30px; */
}
.u-details {
  padding: 15px;
  border-bottom: 0.5px solid rgb(209, 209, 209);
  display: flex;
  align-items: center;
}
.p-details {
  padding: 40px;
  padding-left: 80px;
  padding-top: 0;
  border-bottom: 0.5px solid rgb(209, 209, 209);
}
.profile-pic {
  width: 70px;
  object-fit: cover;
  margin-right: 20px;
}
.profile-pic img {
  border-radius: 50%;
  width: 100%;
}
.username span {
  font-size: 25px;
}
.p-text {
  padding: 20px 0;
}
.p-text span {
  font-weight: bold;
  font-size: 25px;
}
.p-img {
  /* border: 4px solid; */
  object-fit: cover;
  height: 550px;
  width: 100%;
}
.p-img img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}
.likes {
  width: 100%;
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  /* background-color: black; */
}
.like,
.share {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.l-count,
.s-count {
  font-weight: bold;
  font-size: 25px;
}
.like {
  border-right: 0.5px gray;
}
.s-icon,
.l-icon {
  font-size: 25px;
  padding: 0 20px;
}
